name: AWS Resource Reader

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    paths:
      - "awsresource_reader.py"
      - "aws_resources/**"

jobs:
  run_aws_reader:
    runs-on: ubuntu-latest

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: us-east-1

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r aws_resources/requirements.txt

      - name: Run aws_resource_reader
        run: python awsresource_reader.py
