name: Python CI (for math_utils only)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r Math_Utils/requirements.txt

      - name: Run math_utils tests only
        run: |
          pytest Math_Utils/test_math_utils.py
  Run-math-utils:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Run math_utils file
        run: |
          cd Math_Utils
          python math_utils.py