name: weather_checker

on:
  push:
    branches: ["main"]
    paths: 
     - "Weather/**"

jobs:
  test: 
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - run: |
          python -m pip install --upgrade pip
          pip install -r Weather/requirements.txt
      - run: pytest Weather/test_weather_checker.py     
      
  docker-build:
   runs-on: ubuntu-latest
   needs: test
   steps:
      - uses: actions/checkout@v4
      - run: docker build -t weather_script ./Weather
      - run: docker run --rm weather_script



